[Unit]
Description=Gunicorn instance for Product Review App
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flask_app_code
EnvironmentFile=/etc/productreview_app.env
ExecStart=/home/ubuntu/flask_app_code/venv/bin/gunicorn -b localhost:8000 app:app
Restart=always
[Install]
WantedBy=multi-user.target